<html>

<head>
</head>

<body>
  <div id="userInformation">
  	<h1>Hello, {{first-name}}</h1>
  </div>
	<div id="timeline">
		<ol>
			<li> {{event-1}} </li>
			<li> {{event-2}} </li>
			<li> {{event-3}} </li>
		</ol> 
		
	</div>
</body>

</html>